@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Neue_Montreal";
  src: local("NeueMontreal-Regular"),
    url("./asserts/fonts/NeueMontreal-Regular.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Founders_Grotesk_X-Cond_Bold";
  src: local("FoundersGroteskXCond-Bold"),
    url("./assets/fonts/Founders Grotesk/FoundersGroteskXCond-Bold.otf")
      format(opentype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Founders_Grotesk_X";
  src: local("FoundersGrotesk-Regular"),
    url("./assets/fonts/Founders Grotesk/FoundersGrotesk-Regular.otf")
      format(opentype);
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "my_font", sans-serif;
}
